<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="/css/site/common.css" rel="stylesheet" type="text/css">
	<link href="/css/site/site.css" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="#">
</head>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', () => {
	initPage();
	setDefault();
});

const initPage = function() {
	
};

const setDefault = function() {

};

</script>
<body>
	<div id="wrap">
		<header id="head">
			<div class="sect-1">
				<div class="grid"></div>
				<div class="grid">
					<h1 class="logo"><a href="/">logo</a></h1>
				</div>
			</div>
			<div class="sect-2">
				<div class="menu-bar"></div>
			</div>
		</header>
		<div id="contents">
			<section class="login-sect1">
				<img src="/img/site/a-lock.png">
			</section>
			<section class="login-sect2">
				<div class="login-inform">
					<p><span>일부 서비스는 회원에게만 제공됩니다.</span></p>
					<p><span>사이트의 원할한 이용을 위해선 로그인이 필요합니다.</span></p>
				</div>
				<hr class="dividing-line">
				<form class="login-form" action="#" th:action="@{/site/login}" method="post">
				<div class="login-input-box">
					<div class="left">
						<input type="text" name="id" placeholder="아이디">
						<input type="password" name="pwd" placeholder="비밀번호">
					</div>
					<div class="right">
						<input type="submit" class="login-btn" value="로그인"/>
					</div>
				</div>
				</form>
				<div class="login-link-box">
					<p><span>아이디 찾기</span><span>/</span><span>비밀번호 찾기</span></p>
					<p><span>회원가입</span></p>
				</div>
			</section>
		</div>
		<footer id="footer">
			<h1 class="logo">logo</h1>
			<span>프로젝트에 사용한 컨텐츠 라이선스 표기</span>
		</footer>
	</div>
</body>
</html>