<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.mvc.mapper.BoardMapper">

	<select id="count" parameterType="site.mvc.dto.BoardDTO" resultType="integer">
		select count(idx) from board
	</select>
	
	<select id="list" parameterType="site.mvc.dto.BoardDTO" resultType="site.mvc.vo.BoardVO">
		SELECT idx
			, ROW_NUMBER() OVER (ORDER BY idx ) as seq
			, title
			, writer
			, content 
			, DATE_FORMAT(reg_date, '%Y-%m-%d') as reg_date
			, view
		FROM board
		LIMIT #{pageBlock} OFFSET #{pageOffset}
	</select>
	
	<select id="get" parameterType="site.mvc.dto.BoardDTO" resultType="site.mvc.vo.BoardVO">
		SELECT ROW_NUMBER() OVER (ORDER BY idx) as seq
		, idx, title, writer, content
		, DATE_FORMAT(reg_date, '%Y-%m-%d %T') as reg_date
		, DATE_FORMAT(modif_date, '%Y-%m-%d %T') as modif_date
		, `view`
		FROM board 
		where idx = #{idx}
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="idx" parameterType="site.mvc.dto.BoardDTO" >
		INSERT INTO board(title, writer, content, reg_date, modif_date, `view`)
		VALUES(#{title}, #{writer}, #{content}, NOW(), NOW(), 0)
	</insert>
	
</mapper>
<!-- xml 파일 작성 방법 : https://mybatis.org/mybatis-3/ko/getting-started.html -->