<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.mvc.mapper.CommentMapper">

<!-- SEQUENCE DEFINITION -->
<!-- DROP SEQUENCE comment_seed; -->
<!-- CREATE SEQUENCE commet_seed START WITH 1 INCREMENT BY 1; -->

	<insert id="insert" parameterType="site.mvc.dto.CommentDTO">
	    <selectKey resultType="string" keyProperty="cmmtIdx" order="BEFORE">
	        select HEX(NEXTVAL(comment_seed)) AS cmmt_idx
	    </selectKey>
	    INSERT INTO comment(board_idx, cmmt_idx, writer, parent_cmmt_idx, parent_cmmt_writer, content, reg_date, modif_date) 
	    VALUES(#{boardIdx}, #{cmmtIdx}, #{writer}, #{parentCmmtIdx}, #{parentCmmtWriter}, #{content}, NOW(), NOW())
	</insert>
	
</mapper>
<!-- xml 파일 작성 방법 : https://mybatis.org/mybatis-3/ko/getting-started.html -->