<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.mvc.mapper.CommentMapper">

<!-- SEQUENCE DEFINITION -->
<!-- DROP SEQUENCE comment_seed; -->
<!-- CREATE SEQUENCE commet_seed START WITH 1 INCREMENT BY 1; -->

	<insert id="insert" parameterType="site.mvc.dto.CommentDTO">
	    <selectKey resultType="string" keyProperty="cmmtIdx" order="BEFORE">
	        select HEX(NEXTVAL(comment_seed)) AS cmmt_idx
	    </selectKey>
	    INSERT INTO comment(board_idx, cmmt_idx, writer, parent_cmmt_idx, parent_cmmt_writer, content, reg_date, modif_date) 
	    VALUES(#{boardIdx}, #{cmmtIdx}, #{writer}, #{parentCmmtIdx}, #{parentCmmtWriter}, #{content}, NOW(), NOW())
	</insert>
	
	<insert id="insertRecomment" parameterType="site.mvc.dto.CommentDTO">
	    <selectKey resultType="string" keyProperty="cmmtIdx" order="BEFORE">
	        SELECT COUNT(cmmt_idx)+1 AS 'cmmt_idx' FROM COMMENT 
	        WHERE board_idx = #{boardIdx} and parent_cmmt_idx = #{parentCmmtIdx}
	    </selectKey>
	    INSERT INTO comment(board_idx, cmmt_idx, writer, parent_cmmt_idx, parent_cmmt_writer, content, reg_date, modif_date) 
	    VALUES(#{boardIdx}, concat(concat(#{parentCmmtIdx}, '-'), #{cmmtIdx}), #{writer}, #{parentCmmtIdx}, #{parentCmmtWriter}, #{content}, NOW(), NOW())
	</insert>
	
	<select id="count" parameterType="site.mvc.dto.CommentDTO" resultType="integer">
		SELECT count(*) FROM comment
		WHERE board_idx = #{boardIdx}
	</select>
	
	<select id="list" parameterType="site.mvc.dto.CommentDTO" resultType="site.mvc.vo.CommentVO">
		SELECT final.*
		, LAG(final.delimiter) OVER (ORDER BY final.cmmt_idx) AS recmmt_start
		, LEAD(final.delimiter) OVER(ORDER BY final.cmmt_idx) AS recmmt_end
		FROM (
			SELECT c.*, t.recmmt_cnt, if(c.parent_cmmt_idx IS NULL, 'Y', 'N') as 'delimiter'
			FROM comment c
			LEFT JOIN (
				SELECT 
					temp.root_idx, count(temp.root_idx) AS 'recmmt_cnt' 
				FROM (
					SELECT *, SUBSTRING_INDEX(parent_cmmt_idx , '-', 1) AS 'root_idx' FROM comment
					WHERE board_idx = #{boardIdx}
				) temp
				GROUP BY temp.root_idx
				HAVING root_idx IS NOT NULL
			) t
			ON c.cmmt_idx = t.root_idx
			WHERE board_idx = #{boardIdx}
			ORDER BY cmmt_idx
		) final
		LIMIT #{pageBlock} OFFSET #{pageOffset}		
	</select>
	
</mapper>
<!-- xml 파일 작성 방법 : https://mybatis.org/mybatis-3/ko/getting-started.html -->