<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.mvc.mapper.NoticeMapper">

  <select id="count" parameterType="site.mvc.dto.NoticeDTO" resultType="integer">
	SELECT count(*) FROM notice
  </select>
  
  <select id="list" parameterType="site.mvc.dto.NoticeDTO" resultType="site.mvc.vo.NoticeVO">
	SELECT idx
		, ROW_NUMBER() OVER (ORDER BY idx ) as seq
		, title
		, writer
		, content 
		, DATE_FORMAT(reg_date, '%Y-%m-%d') as reg_date
		, view
	FROM notice
	LIMIT #{pageBlock} OFFSET #{pageOffset}
  </select>
 
</mapper>
<!-- xml 파일 작성 방법 : https://mybatis.org/mybatis-3/ko/getting-started.html -->