<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/site_layout}">
<head></head>
<th:block layout:fragment="script">
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', () => {
	initPage();
	setDefault();
	registEvent();
	getList();	
});

const initPage = function() {
	
};

const setDefault = function() {

};

const registEvent = function() {

};

function getList() {
	
	let formData = {
		'pageNo'	: document.querySelector('input[name="pageNo"]').value,
		'pageBlock'	: document.querySelector('input[name="pageBlock"]').value,
	};
	
	fetch('/board/list', {
		'method' : 'POST',
		headers : {'Content-Type' : 'application/json'},
		body : JSON.stringify(formData),
	})
	.then(response => response.json())
	.then((data) => {
		const totalCount = data.totalCount;
		const totalPageNo = data.totalPageNo;
		const list = data.list;

		let html = '';
		if (totalCount == 0) {
			html += '<tr><td colspan="5">등록된 내용이 없습니다.</td></tr>';
		}
		
		for(row of list) {
			html += '<tr>';
			html += '	<td>' + (row.idx) + '</td>';
			html += '	<td><span class="view" data-idx="' + (row.idx) + '">' + (row.title) + '</span></td>';
			html += '	<td>' + (row.writer) + '</td>';
			html += '	<td>' + (row.regDate) + '</td>';
			html += '	<td>' + (row.view) + '</td>';
			html += '</tr>';
		}

		document.querySelector('#tbl tbody').innerHTML = html;
		document.querySelector('.pagination').innerHTML= data.pagingHTML;

		pagingFunc();
		viewFunc();
	})
	.catch((error) => {
		alert("데이터를 가지고 오는데 실패하였습니다.");
		console.log(error);
	});
};

function pagingFunc() {
	let pages = document.querySelectorAll('.pages .page');
	
	for(page of pages) {
		page.addEventListener('click', (e) => {
			let pageNo = e.target.getAttribute('page');
			let isActive = e.target.classList.value.indexOf('pick');
			
			if(pageNo > 0) {
				document.querySelector('input[name="pageNo"]').value = pageNo;
				getList();
			}
		});
	}
};

const viewFunc = function() {
	let views = document.querySelectorAll('.view');
	console.log(views);
	for(view of views) {
		view.addEventListener('click', goPage);
	}
};

function goPage(e) {
	let idx = e.target.getAttribute('data-idx');
	location.href = '/board/view?idx='+idx;	
};


</script>
</th:block>
<th:block layout:fragment="contents">
	<div id="contents">
		<div class="guideline">
			<span>HOME</span>
			<span>&gt;</span>
			<span>공지사항</span>
		</div>
	
		<div class="search-sect">
			<div class="box">
				<span>검색조건</span>
				<select>
					<option value="title">제목</option>
					<option value="content">내용</option>
				</select>
				<input type="text" name="word">
				<input type="hidden" name="pageNo">
				<input type="hidden" name="pageBlock">
				<button>검색</button>
			</div>
		</div>
	
		<table id="tbl">
			<colgroup>
				<col></col>
				<col width="60%"></col>
				<col></col>
				<col></col>
				<col></col>
			</colgroup>
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>등록일</th>
					<th>조회수</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td><a href="/board/view">게시글1</a></td>
					<td>김모씨</td>
					<td>2024.06.03</td>
					<td>12</td>
				</tr>
				<tr>
					<td>2</td>
					<td><a href="/board/view">게시글2</a></td>
					<td>이모씨</td>
					<td>2024.06.13</td>
					<td>22</td>
				</tr>
			</tbody>			
		</table>
		
		<div class="btn-group">
			<button class="btn_positive btn-reg"><a href="/board/reg">등록</a></button>
		</div>
			
		<div class="pagination">
			<div class="pages">
				<span class="page">&lt;</span>
				<span class="page">1</span>
				<span class="page">2</span>
				<span class="page">3</span>
				<span class="page">4</span>
				<span class="page">5</span>
				<span class="page">6</span>
				<span class="page">7</span>
				<span class="page">8</span>
				<span class="page">9</span>
				<span class="page">10</span>			
				<span class="page">&gt;</span>
			</div>
		</div>
	</div>
</th:block>
</html>