<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/site_layout}">
<head>

<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<th:block layout:fragment="script">
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', () => {
	setDefault();
	registEvent();
});

const setDefault = function() {
	proc_set_up();
};

const registEvent = function() {
	let btn_reg = document.querySelector('.btn-reg');
	btn_reg.addEventListener('click', reg_proc);
};

function reg_proc() {
	
	let csrf_header = document.querySelector("meta[name='_csrf_header']").getAttribute("content");
	let csrf_token = document.querySelector("meta[name='_csrf']").getAttribute("content");
		
	let file_lst = getFileList();
	
	let form_data = { 'list' : file_lst
	, 'title' : document.querySelector('input[name="title"]').value
	, 'writer' : document.querySelector('input[name="writer"]').value
	, 'content' : document.querySelector('textarea[name="content"]').value};
	
	fetch('/board/add', {
		'method' : 'POST',
		headers : {
			'Content-Type' : 'application/json'
			, csrf_header : csrf_token
		},
		body : JSON.stringify(form_data),
	})
	.then(response => response.json())
	.then((data) => {
			alert(data.msg);
			location.href = '/board/list';	
	})
	.catch((error) => {
		alert("삭제에 실패하였습니다.");
		console.log(error);
	});	
		
	console.log(form_data);
};
</script>
</th:block>
<th:block layout:fragment="contents">

	<div id="contents">
	
		<div class="guideline">
			<span><a href="/">HOME</a></span>
			<span>&gt;</span>
			<span><a href="/site/board/list">게시판</a></span>
			<span>&gt;</span>
			<span>등록</span>
		</div>
	
		<div class="board-area">
			<div class="preface">
				<p>
					<span class="label-b">제목</span>
					<input tpye="text" name="title" value="">
				</p>
				<p>
					<span class="label-b">작성자</span>
					<span th:text="${session.principal.id}"></span>
					<input type="hidden" name="writer" th:value="${session.principal.id}">
				</p>
					<span class="label-b">첨부파일</span>
					<form id="att-file-form" method="POST" enctype="multipart/form-data">
						<input type="file" name="file">
						<input type="hidden" name="category" value="board">
					</form>
					<section class="att_file_lst">
					</section>
				</p>				
			</div>
			<div class="letterpress">
				<textarea name="content"></textarea>
		
			</div>
		</div>
		<div class="btn-group">
			<button class="btn-list"><a href="/board/list">목록</a></button>
			<button class="btn_positive btn-reg">등록</button>
		</div>
		
	</div>

</th:block>
</html>