<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/site_layout}">
<head></head>
<th:block layout:fragment="contents">

	<div id="contents">
	
		<div class="guideline">
			<span>HOME</span>
			<span>&gt;</span>
			<span>공지사항</span>
			<span>&gt;</span>
			<span>조회</span>
		</div>
	
		<div class="preface">
			<p>
				<span class="label-b">번호</span><span>1</span>
				<span class="label-b">제목</span><span>공지사항입니다.</span>
			</p>
			<p>
				<span class="label-b">작성자</span><span>관리자</span>
				<span class="label-b">등록일</span><span>2024.06.27</span>
				<span class="label-b">조회수</span><span>11</span>
			</p>
			<p>
				<span class="label-b">첨부파일</span>
				<span>file1</span>
				<span>file2</span>
				<span>file3</span>
			</p>				
		</div>
		<div class="letterpress">
			
	
		</div>
		<div class="reference">
			<table>
				<tr>
					<th>&lt; 이전글</th>
					<td>대충이전공지사항글제목</td>
				</tr>
				<tr>
					<th>&gt; 다음글</th>
					<td>대충다음공지사항글제목</td>
				</tr>					
			</table>
		</div>
	
		<div class="btn-group">
			<button class="btn-list">목록</button>
		</div>
		<div class="comment-section">
			<p>댓글 <span class="amount">0</span> 개</p>
			<hr>
			<textarea class="wr_cmmnt" placeholder="댓글 입력(최대 600자)"></textarea>
			<button class="btn_wr_cmmnt">등록</button>
			<div class="comments">
				<div class="comment">
					<p>
						<span>user01</span>
						<span>2024.06.28</span>
						<span>2024.06.28</span>
					</p>
					<textarea readonly="readonly">댓글내용sfsdf
						sdfsdf
						sdfsdfsdfsd
						fsdfsdfds
						fsdfsdfdsfdsf
						ds
						fsdfsdfdsfsdd
	
						ddsffds
					</textarea>
				</div>
				<div class="comment">
					<p>
						<span>user01</span>
						<span>2024.06.28</span>
						<span>2024.06.28</span>
					</p>
					<textarea readonly="readonly">댓글내용sfsdf</textarea>
					<span>대댓글 보기(2)</span>
				</div>
			</div>		
		</div>
		
	</div>

</th:block>
</html>