<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/site_layout}">
<head></head>
<th:block layout:fragment="script">
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', () => {
	setDefault();
	registEvent();
});

const setDefault = function() {
	adhere_to_download_e();
};

const registEvent = function() {
	let btn_go_list = document.querySelector('.btn-list');
	btn_go_list.addEventListener('click', goListPage);
};

function goListPage() {
	location.href = '/board/list';
};

</script>
</th:block>
<th:block layout:fragment="contents">

	<div id="contents">
	
		<div class="guideline">
			<span>HOME</span>
			<span>&gt;</span>
			<span>공지사항</span>
			<span>&gt;</span>
			<span>조회</span>
		</div>
	
		<div class="preface">
			<p>
				<span class="label-b">번호</span><span th:text="${board.seq}"></span>
				<input type="hidden" name="idx" th:value="${board.idx}">
				<input type="hidden" name="category" value="board">
				<span class="label-b">제목</span><span th:text="${board.title}"></span>
			</p>
			<p>
				<span class="label-b">작성자</span><span th:text="${board.writer}"></span>
				<span class="label-b">등록일</span><span th:text="${board.regDate}"></span>
				<span class="label-b">조회수</span><span th:text="${board.view}"></span>
			</p>
			<p th:each="file : ${files}">
				<span class="label-b">첨부파일</span>
				<span class="fnm" th:text="${file.name}"></span>
				<input type="hidden" name="key" th:value="${file.key}">
			</p>
		</div>
		<div class="letterpress">
			
	
		</div>
		<div class="reference">
			<table>
				<tr>
					<th>&lt; 이전글</th>
					<td>대충이전공지사항글제목</td>
				</tr>
				<tr>
					<th>&gt; 다음글</th>
					<td>대충다음공지사항글제목</td>
				</tr>					
			</table>
		</div>
	
		<div class="btn-group">
			<button class="btn-list">목록</button>
		</div>
		<div class="comment-section">
			<p>댓글 <span class="amount">0</span>개</p>
			<div class="comment-registry-section">
				<textarea class="wr_cmmnt" placeholder="댓글 입력(최대 600자)"></textarea>
				<button class="btn_wr_cmmnt">등록</button>			
			</div>
			<div class="comments">
				<div class="comment">
					<p class="intr-ln">
						<span class="intr">작성자</span><span>user01</span>
						<span class="intr">등록일</span><span>2024.06.28</span>
						<span class="intr">수정일</span><span>2024.06.28</span>
					</p>
					<textarea readonly="readonly">댓글내용sfsdf
						sdfsdf
						sdfsdfsdfsd
						fsdfsdfds
						fsdfsdfdsfdsf
						ds
						fsdfsdfdsfsdd
	
						ddsffds
					</textarea>
					<p class="reply-show-toggle">답글 보기(0)</p>
				</div>
				<div class="comment">
					<p class="intr-ln">
						<span class="intr">작성자</span><span>user01</span>
						<span class="intr">등록일</span><span>2024.06.28</span>
						<span class="intr">수정일</span><span>2024.06.28</span>
					</p>
					<textarea readonly="readonly">댓글내용sfsdf</textarea>
					<p class="reply-show-toggle">답글 보기(<span class="reply-count">2</span>)</p>
				</div>
				<div class="comment-replies">
					<div class="comment-reply">
						<p class="intr-ln">@<span class="reply-to">user01</span></p>
						<p class="intr-ln">
							<span class="intr">작성자</span><span>user02</span>
							<span class="intr">등록일</span><span>2024.06.28</span>
							<span class="intr">수정일</span><span>2024.06.28</span>
						</p>
						<textarea readonly="readonly">댓글내용sfsdf</textarea>
					</div>			
					<div class="comment-reply">
						<p class="intr-ln">@<span class="reply-to">user01</span></p>
						<p class="intr-ln">
							<span class="intr">작성자</span><span>user03</span>
							<span class="intr">등록일</span><span>2024.06.28</span>
							<span class="intr">수정일</span><span>2024.06.28</span>
						</p>
						<textarea readonly="readonly">댓글내용sfsdf</textarea>
					</div>				
				</div>
			</div>		
		</div>
		
	</div>

</th:block>
</html>