<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/site_layout}">
<head></head>
<th:block layout:fragment="script">
<script type="text/javascript" th:inline="javascript">
document.addEventListener('DOMContentLoaded', () => {
	setDefault();
	registEvent();
});

const setDefault = function() {
	adhere_to_download_e();
	getComments();
};

const registEvent = function() {
	let btn_go_list = document.querySelector('.btn-list');
	btn_go_list.addEventListener('click', goListPage);
	
	// 댓글 등록 버튼에 이벤트 설정
	let btn_comment_reg = document.querySelector('.btn_wr_cmmnt');
	if(btn_comment_reg != null) 
	btn_comment_reg.addEventListener('click', regComment);
	
	// 답글 취소 버튼에 이벤트 설정
	let btn_cancel_recmmt = document.querySelector('.btn-cancel-recmmt');
	btn_cancel_recmmt.addEventListener('click', hideRecommentRegForm);
	
	// 답글 등록 버튼에 이벤트 설정
	let btn_reg_recmmt = document.querySelector('.btn-reg-recmmt');
	btn_reg_recmmt.addEventListener('click', regRecomment);
};

function goListPage() {
	location.href = '/board/list';
};

function regComment() {
	
	let writer = document.querySelector('input[name="comment_writer"]').value;
	let content = document.querySelector('textarea[name="comment_cont"]').value;
	let board_idx = document.querySelector('input[name="idx"]').value;
	
	let form_data = { 'boardIdx' : board_idx
	, 'writer' : writer
	, 'content' : content };
	
	fetch('/comment/reg', {
		'method' : 'POST',
		headers : {'Content-Type' : 'application/json'},
		body : JSON.stringify(form_data),
	})
	.then(response => response.json())
	.then((data) => {
		alert(data.msg);
		location.reload();	
	})
	.catch((error) => {
		alert("등록에 실패하였습니다.");
		console.log(error);
	});		
};

function getComments() {
	
	let board_idx = document.querySelector('input[name="idx"]').value;
	
	let form_data = { 'boardIdx' : board_idx };
	
	fetch('/comment/list', {
		'method' : 'POST',
		headers : {'Content-Type' : 'application/json'},
		body : JSON.stringify(form_data),
	})
	.then(response => response.json())
	.then((data) => {
		drawComments(data);
		setUpRecommentEvent();
	})
	.catch((error) => {
		alert("등록에 실패하였습니다.");
		console.log(error);
	});	
};

function drawComments(data) {
	let list = data.list;
	
	let comment_area = document.querySelector('.comments');
	// 댓글 총 개수 표시
	let comment_amount = document.querySelector('.comment-section .amount');
	comment_amount.innerText = data.totalCount;
	
	let comments = '';
	
	if(data.totalCount == 0) {
		comment_area.innerHTML = '등록된 댓글이 없습니다.';
		return;
	}
	
	for(row in data.list) {
		// 부모댓글 인덱스 존재여부로 일반코멘트(댓글)와(과) 리코멘트(답글)를 구분한다
		if(list[row].parentCmmtIdx == null) {
			comments += getComment(list[row]);
		} else {
			comments += getRecomment(list[row]);
		}
	}
	comment_area.innerHTML = comments;
};

function getComment(row) {
	
	let comment = '';
	
	comment += '<div class="comment">';
	comment += '<p class="intr-ln">';
	comment += '<span class="intr">작성자</span><span class="writer" idx="'+ row.cmmtIdx +'">'+ row.writer +'</span>';
	comment += '<span class="intr">등록일</span><span>'+ row.regDate +'</span>';
	comment += '<span class="intr">수정일</span><span>'+ row.modifDate +'</span>';
	comment += '</p>';
	comment += '<textarea name="content" readonly="readonly">'+ row.content +'</textarea>';
	comment += '<p class="reply-show-toggle">답글 보기('+ row.recmmtCnt +')</p>';
	comment += '</div>';
	
	return comment;
};

function getRecomment(row) {
	
	let recomment = '';
	
	if(row.recmmtStart != 0 ) 
		recomment += '<div class="comment-replies">';
		
	recomment += '<div class="comment-reply">';
	recomment += '<p class="intr-ln">@<span class="reply-to">'+ row.parentCmmtWriter +'</span></p>';
	recomment += '<p class="intr-ln">';
	recomment += '<span class="intr">작성자</span><span class="writer" idx="'+ row.cmmtIdx +'">'+ row.writer +'</span>';
	recomment += '<span class="intr">등록일</span><span>'+ row.regDate +'</span>';
	recomment += '<span class="intr">수정일</span><span>'+ row.modifDate +'</span>';
	recomment += '</p>';
	recomment += '<textarea name="content" readonly="readonly">'+ row.content +'</textarea>';
	recomment += '</div>';
	
	if(row.recmmtEnd != 0) 
		recomment += '</div>';
	
	return recomment;
};

/* ----- 답글 관련 함수 -------- */

function repliesVisionOnOff(e) {
	let comment = e.target.parentElement;
	let replies = comment.nextElementSibling;
	if(replies.style.display == 'none') {
		replies.style.display = 'block';
	} else {
		replies.style.display = 'none';
	}
};

function setUpRecommentEvent() {
	// 댓글 인트로에 이벤트 설정
	let comment_intro = document.querySelectorAll('.comment .intr-ln');
	for(intro of comment_intro) {
		intro.addEventListener('click', showRecommentRegForm);
	}
	
	// 답글 보기에 이벤트 설정
	let reply_show_toggle = document.querySelectorAll('.reply-show-toggle');
	for(toggle of reply_show_toggle) {
		toggle.addEventListener('click', repliesVisionOnOff);
	}	
};

function showRecommentRegForm(e) {
	let principal = /*[[${session.principal}]]*/'';
	
	if(principal == null) {
		alert('답글은 로그인한 사용자만 작성할 수 있습니다.');
		return;	
	}
	
	let comment = e.target.parentElement.parentElement;
	// 답글의 부모댓글 idx
	let parent_comment_idx = comment.querySelector('span[class^="writer"]').getAttribute('idx');	
	// 답글의 부모댓글 작성자
	let parent_comment_writer = comment.querySelector('span[class^="writer"]').innerText;
	// 답글 작성자
	let writer = document.querySelector('input[name="comment_writer"]').value;
	
	// 답글 수신자 표시 
	let reply_to = document.querySelector('.reply-to');
	reply_to.innerText = parent_comment_writer;
	
	// 답글 등록 폼 보이기
	let recomm_reg_form = document.querySelector('.recomment-reg-form');
	recomm_reg_form.style.display = 'block';
	comment.after(recomm_reg_form);
	
	// 폼 내용 채우기
	recomm_reg_form.querySelector('input[name="parent_cmmt_idx"]').value = parent_comment_idx;
	recomm_reg_form.querySelector('input[name="parent_cmmt_writer"]').value = parent_comment_writer;
	recomm_reg_form.querySelector('input[name="comment_writer"]').value = writer;
};

function hideRecommentRegForm() {
	let comment_section = document.querySelector('.comment-section');
	let recomm_reg_form = document.querySelector('.recomment-reg-form');
	// 폼에 입력했던 내용 초기화
	let inputs = recomm_reg_form.querySelectorAll('input');
	for(input of inputs) {
		input.value = '';
	}
	let txtarea = recomm_reg_form.querySelector('textarea');
	txtarea.value = '';
	
	recomm_reg_form.style.display = 'none';
	comment_section.after(recomm_reg_form);
};

function regRecomment() {
	
	let form_data = {};
	
	let board_idx = document.querySelector('input[name="idx"]').value;
	let content = document.querySelector('textarea[name="recomment_cont"]').value;
	
	let par_comm_idx = document.querySelector('input[name="parent_cmmt_idx"]').value;
	let par_comm_writer = document.querySelector('input[name="parent_cmmt_writer"]').value;
	let comm_writer = document.querySelector('input[name="comment_writer"]').value;
	
	form_data['boardIdx'] = board_idx;
	form_data['writer'] = comm_writer;
	form_data['content'] = content;	
	form_data['parentCmmtIdx'] = par_comm_idx;
	form_data['parentCmmtWriter'] = par_comm_writer;
	
	console.log(form_data);

	fetch('/comment/reg-re', {
		'method' : 'POST',
		headers : {'Content-Type' : 'application/json'},
		body : JSON.stringify(form_data),
	})
	.then(response => response.json())
	.then((data) => {
		alert(data.msg);
		location.reload();
	})
	.catch((error) => {
		alert("등록에 실패하였습니다.");
		console.log(error);
	});
};

</script>
</th:block>
<th:block layout:fragment="contents">

	<div id="contents">
	
		<div class="guideline">
			<span>HOME</span>
			<span>&gt;</span>
			<span>공지사항</span>
			<span>&gt;</span>
			<span>조회</span>
		</div>
	
		<div class="preface">
			<p>
				<span class="label-b">번호</span><span th:text="${board.seq}"></span>
				<input type="hidden" name="idx" th:value="${board.idx}">
				<input type="hidden" name="category" value="board">
				<span class="label-b">제목</span><span th:text="${board.title}"></span>
			</p>
			<p>
				<span class="label-b">작성자</span><span th:text="${board.writer}"></span>
				<span class="label-b">등록일</span><span th:text="${board.regDate}"></span>
				<span class="label-b">조회수</span><span th:text="${board.view}"></span>
			</p>
			<p th:each="file : ${files}">
				<span class="label-b">첨부파일</span>
				<span class="fnm" th:text="${file.name}"></span>
				<input type="hidden" name="key" th:value="${file.key}">
			</p>
		</div>
		<div class="letterpress" th:text="${board.content}"></div>
		<div class="reference">
			<table>
				<tr>
					<th>&lt; 이전글</th>
					<td>대충이전공지사항글제목</td>
				</tr>
				<tr>
					<th>&gt; 다음글</th>
					<td>대충다음공지사항글제목</td>
				</tr>					
			</table>
		</div>
	
		<div class="btn-group">
			<button class="btn-list">목록</button>
		</div>
		<div class="comment-section">
			<p>댓글 <span class="amount"></span>개</p>
			<div class="comment-registry-section" th:if="${session.principal eq null}">
				<p>댓글은 로그인한 사용자만 작성할 수 있습니다.</p>
			</div>
			<div class="comment-registry-section" th:unless="${session.principal eq null}">
				<input type="hidden" name="comment_writer" th:value="${session.principal.id}">
				<textarea class="wr_cmmnt" name="comment_cont" placeholder="댓글 입력(최대 600자)"></textarea>
				<button class="btn_wr_cmmnt">등록</button>	
			</div>
			<div class="comments">
				<div class="comment">
					<p class="intr-ln">
						<span class="intr">작성자</span><span>user01</span>
						<span class="intr">등록일</span><span>2024.06.28</span>
						<span class="intr">수정일</span><span>2024.06.28</span>
					</p>
					<textarea readonly="readonly">댓글내용</textarea>
					<p class="reply-show-toggle">답글 보기(0)</p>
				</div>
				<div class="comment">
					<p class="intr-ln">
						<span class="intr">작성자</span><span>user01</span>
						<span class="intr">등록일</span><span>2024.06.28</span>
						<span class="intr">수정일</span><span>2024.06.28</span>
					</p>
					<textarea readonly="readonly">댓글내용1</textarea>
					<p class="reply-show-toggle">답글 보기(<span class="reply-count">2</span>)</p>
				</div>
				<div class="comment-replies">
					<div class="comment-reply">
						<p class="intr-ln">@<span class="reply-to">user01</span></p>
						<p class="intr-ln">
							<span class="intr">작성자</span><span>user02</span>
							<span class="intr">등록일</span><span>2024.06.28</span>
							<span class="intr">수정일</span><span>2024.06.28</span>
						</p>
						<textarea readonly="readonly">댓글내용2</textarea>
					</div>			
					<div class="comment-reply">
						<p class="intr-ln">@<span class="reply-to">user01</span></p>
						<p class="intr-ln">
							<span class="intr">작성자</span><span>user03</span>
							<span class="intr">등록일</span><span>2024.06.28</span>
							<span class="intr">수정일</span><span>2024.06.28</span>
						</p>
						<textarea readonly="readonly">댓글내용3</textarea>
					</div>				
				</div>
			</div>	
			<div class="comment-pagination">
				<p class="pages">
					<span class="page">&lt;</span>
					<span class="page">1</span>
					<span class="page">2</span>
					<span class="page">3</span>
					<span class="page">4</span>
					<span class="page">5</span>
					<span class="page">6</span>
					<span class="page">7</span>
					<span class="page">8</span>
					<span class="page">9</span>
					<span class="page">10</span>			
					<span class="page">&gt;</span>
				</p>
			</div>
			<div class="recomment-reg-form">
				<input type="hidden" name="parent_cmmt_idx" value="">
				<input type="hidden" name="parent_cmmt_writer"value="">
				<input type="hidden" name="comment_writer" value="">
				<p class="intr-ln">@<span class="reply-to"></span></p>
				<textarea class="recmmt-cont" name="recomment_cont" placeholder="댓글 입력(최대 600자)"></textarea>
				<div class="btn_group">
					<button class="btn-reg-recmmt">등록</button>
					<button class="btn-cancel-recmmt">취소</button>
				</div>
			</div>			
		</div>
	</div>

</th:block>
</html>