<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/site_layout}">
<head></head>
<script type="text/javascript">

</script>
<th:block layout:fragment="contents">
	<div id="contents">
		<div class="guideline">
			<span>마이페이지</span>
			<span>&gt;</span>
			<span>내정보</span>
		</div>
	
		<table id="tbl">
			<colgroup>
				<col></col>
				<col width="60%"></col>
				<col></col>
				<col></col>
				<col></col>
			</colgroup>
			<thead>
				<tr>
					<th>번호</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
				</tr>
			</thead>
			<tbody>
			
			</tbody>			
		</table>
	
	</div>
</th:block>
</html>