<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
	<header id="head">
		<div class="sect-1">
			<div class="grid"></div>
			<div class="grid">
				<h1 class="logo"><a href="/">logo</a></h1>
			</div>
			<div class="grid">
				<p>
				<span>로그인</span>
				<span>/</span>
				<span>회원가입</span>
				</p>
			</div>
		</div>
		<div class="sect-2">
			<div class="menu-bar">
				<h3><a href="/notice/list">공지사항</a></h3>
				<h3>게시판</h3>
			</div>
		</div>
	</header>
</th:block>
</html>