<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/site_layout}">
<head></head>
<th:block layout:fragment="script">
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', () => {
	setDefault();
	registEvent();
});

const setDefault = function() {
	attach_to_download_e();
};

const registEvent = function() {
	let btn_go_page = document.querySelector('.btn-list');
	btn_go_page.addEventListener('click', goPage);
};

function goPage() {
	location.href="/notice/list";
};


</script>
</th:block>
<th:block layout:fragment="contents">
	<div id="contents">
	
			<div class="guideline">
				<span>HOME</span>
				<span>&gt;</span>
				<span>공지사항</span>
				<span>&gt;</span>
				<span>조회</span>
			</div>


			<div class="preface">
				<p>
					<span class="label-b">번호</span><span th:text="${notice.view.seq}"></span>
					<span class="label-b">제목</span><span th:text="${notice.view.title}"></span>
				</p>
				<p>
					<span class="label-b">작성자</span><span th:text="${notice.view.writer}"></span>
					<span class="label-b">등록일</span><span th:text="${notice.view.regDate}"></span>
					<span class="label-b">조회수</span><span th:text="${notice.view.view}"></span>
				</p>
				<p>
					<span class="label-b">첨부파일</span>
					<span th:each="file : ${notice.files}">
						<span class="fnm" th:text="${file.name}"></span>
						<input type="hidden" name="key" th:value="${file.key}">
					</span>
				</p>				
			</div>
			<div class="letterpress" th:utext="${notice.view.content}">
				

			</div>
			<div class="reference">
				<table>
					<tr>
						<th>&lt; 이전글</th>
						<td>대충이전공지사항글제목</td>
					</tr>
					<tr>
						<th>&gt; 다음글</th>
						<td>대충다음공지사항글제목</td>
					</tr>					
				</table>
			</div>

			<button class="btn-list">목록</button>
				
	</div>
</th:block>
</html>