<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/mngr_layout}">
<head></head>
<th:block layout:fragment="script">
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', () => {
	initPage();
	setDefault();
	registEvent();
});


let editorImgList = [];

const initPage = function() {
	proc_set_up();
};

const setDefault = function() {
	CKEDITOR.replace( 'editor1', {
	    language: 'en'
	    , uiColor: '#9AB8F3'
	  	, filebrowserUploadUrl: '/editor/image/upload?category=editor'
	});
	
	// https://stackoverflow.com/questions/38055319/ckeditor-image-upload-fileuploadresponse-event-is-not-firing
	let editor = CKEDITOR.instances['editor1'];
	
	// 파일업로드 요청에 대한 서버의 응답의 일부(파일이름)를 저장한다
	editor.on('fileUploadResponse', function(e) {
		let fn = JSON.parse(e.data.fileLoader.xhr.response).fileName;
		editorImgList.push(fn);		
	});
	
};

const registEvent = function() {
	let btn_go_page = document.querySelector('.btn-back');
	btn_go_page.addEventListener('click', goPage);
	
	let btn_reg = document.querySelector('.btn-reg');
	btn_reg.addEventListener('click', reg);
};


function goPage() {
	location.href="/mngr/notice/list";
};

/**
* 사용자가 지워버린 이미지를 알아내어 해당 이미지의 키값을 반환한다.
*/
function findImgDelete() {
	
	let deleted_imgs = [];
	
	let editor = CKEDITOR.instances['editor1'];
	let str = editor.getData();
	
	// 업로드된 이미지가 없는 경우
	if(editorImgList == null) return deleted_imgs;
	
	// 이미지 태그 찾기
	const re = new RegExp('src=".+"');
	let imgs = str.match(re);
	
	// 업로드 되었던 이미지를 모두 지운 경우
	if(imgs == null) {
		deleted_imgs = editorImgList;
	// 업로드 되었던 이미지들 중 일부를 지운 경우	
	} else {
		for(img of imgs) {
			// 문자열 파싱(본문에 남아있는 이미지 값들을 추출)
			let temp = img.replace(new RegExp('style=".+"'), '');
			temp = temp.split('/');
			temp[6] = temp[6].replace("\"", "");
			temp[6] = temp[6].trim();
			
			// 본문에 남아있는 이미지들을 제외
			// 지워진 이미지들로만 배열을 재구성한다.
			deleted_imgs = editorImgList.filter((el) => el != temp[6]);
		}
	}
	
	return deleted_imgs;
};


function reg() {
	// 업로드 전에 사용자가 지워버린 이미지를 확인한다.
	let deleted_imgs = findImgDelete();
	// 지워진 이미지가 존재하는 경우 서버에서 삭제한다.
	if(deleted_imgs != null) {
		deleteEditorImg(deleted_imgs);
	}
	
	let files = getFileList();
	
	let form_data = {};
	form_data['title'] = document.querySelector('input[name="title"]').value;
	form_data['content'] = CKEDITOR.instances['editor1'].getData();
	form_data['writer'] = document.querySelector('input[name="writer"]').value;	
	form_data['imgs'] = editorImgList;
	form_data['files'] = files;
	
	fetch('/mngr/notice/reg/', {
		'method' : 'POST',
		headers : {'Content-Type' : 'application/json'},
		body : JSON.stringify(form_data),
	})
	.then(response => response.json())
	.then((data) => {
		if(data.result) {
			alert(data.msg);
			location.href="/mngr/notice/list";
		}
	})
	.catch((error) => {
		alert("데이터를 저장하는데 실패하였습니다.");
		console.log(error);
	});
};

function deleteEditorImg(deleted_imgs) {
	let list = [];
	
	for(img of deleted_imgs) {
		let dto = { 'key' : img, 'category' : 'editor' };
		list.push(dto);
	}
	
	let form_data = {
		'list' : list
	};
	
	fetch('/file/delete/editor/img/', {
		'method' : 'POST',
		headers : {'Content-Type' : 'application/json'},
		body : JSON.stringify(form_data),
	})
	.then(response => response.json())
	.then((data) => {
		console.log(data.msg);
	})
	.catch((error) => {
		alert("데이터를 삭제하는데 실패하였습니다.");
		console.log(error);
	});	
};

</script>
</th:block>
<th:block layout:fragment="letterpress">
<div class="letterpress">
	<div class="guideline">
		<span>관리자</span>
		<span>&gt;</span>
		<span>공지사항</span>
		<span>&gt;</span>
		<span>등록</span>
	</div>

	<table id="tbl1">
		<tbody>
			<tr>
				<th>제목</th>
				<td>
					<input type="text" name="title" value="">
					<input type="hidden" name="writer" th:value="${session.principal.id}">
				</td>
			</tr>						
			<tr>
				<th>첨부파일</th>
				<td>
					<form id="att-file-form" method="POST" enctype="multipart/form-data">
						<input type="file" name="file">
						<input type="hidden" name="category" value="notice">
					</form>
					<section class="att_file_lst">
					</section>
				</td>
			</tr>						
			<tr>
				<td colspan="2">
					<textarea name="editor1" id="editor1"></textarea>
				</td>
			</tr>							
		</tbody>
	</table>

	<div class="button-group">
		<button class="fl-r btn-back">목록</button>
		<button class="fl-r btn-reg btn">등록</button>
	</div>

</div>
</th:block>
</html>