<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/mngr_layout}">
<head></head>
<th:block layout:fragment="script">
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', () => {
	initPage();
	setDefault();
	registEvent();
});

const initPage = function() {
	
};

let editorImgList = [];

const setDefault = function() {
	CKEDITOR.replace( 'editor1', {
	    language: 'en'
	    , uiColor: '#9AB8F3'
	  	, filebrowserUploadUrl: '/editor/image/upload?category=editor'
	});
	
	// https://stackoverflow.com/questions/38055319/ckeditor-image-upload-fileuploadresponse-event-is-not-firing
	let editor = CKEDITOR.instances['editor1'];
	
	editor.on('fileUploadResponse', function(e) {
		let fn = JSON.parse(e.data.fileLoader.xhr.response).fileName;
		editorImgList.push(fn);		
	});
	
	/*
	editor.on('key', function(e) {
		//const re = new RegExp('\<img.+\/\>');
		const re = new RegExp('src=".+"');
		console.log('e.data.keyCode : ' + e.data.keyCode);
		
		if(e.data.keyCode == 8 || e.data.keyCode == 46) {
			console.log('e.data : ' + e.editor.getData());
			
			let str = e.editor.getData();
			let imgKey = str.match(re);
			imgKey = imgKey[0];
			console.log('find str : '+ imgKey);
			
			imgKey = imgKey.replace(new RegExp('style=".+"'), '');
			
			console.log('replaced str : '+ imgKey);
			
			let parse_rs = '';
			let pt = imgKey.split('/');
			console.log('pt : '+pt);
			
			parse_rs = pt[6];
			
			console.log('parse_rs : '+parse_rs);
			
			// img 태그 부분 파싱
			// 파일 키 값을 ajax로 서버에 전송
			// 서버가 전달받은 값으로 해당 파일을 삭제 처리한다.
		}
	});*/
};

const registEvent = function() {
	let btn_go_page = document.querySelector('.btn-back');
	btn_go_page.addEventListener('click', goPage);
	
	let btn_reg = document.querySelector('.btn-reg');
	btn_reg.addEventListener('click', reg);
};


function goPage() {
	location.href="/mngr/notice/list";
};

/**
* 사용자가 지워버린 이미지를 알아내어 해당 이미지의 키값을 반환한다.
*/
function findImgDelete() {
	
	let deleted_imgs = [];
	
	let editor = CKEDITOR.instances['editor1'];
	let str = editor.getData();
	console.log('editor.getData() : ' + str);
	
	// 업로드된 이미지가 없는 경우
	if(editorImgList == null) return deleted_imgs;
	
	// 이미지 태그 찾기
	const re = new RegExp('src=".+"');
	let imgs = str.match(re);
	
	// 업로드 되었던 이미지를 모두 지운 경우
	if(imgs == null) {
		deleted_imgs = editorImgList;
	// 업로드 되었던 이미지들 중 일부를 지운 경우	
	} else {
		for(img of imgs) {
			// 문자열 파싱(본문에 남아있는 이미지 값들을 추출)
			let temp = img.replace(new RegExp('style=".+"'), '');
			temp = temp.split('/');
			temp[6] = temp[6].replace("\"", "");
			temp[6] = temp[6].trim();
			console.log('parse_result : '+ temp[6]);
			
			
			console.log('editorImgList : ', editorImgList);
			// 본문에 남아있는 이미지들을 제외
			// 지워진 이미지들로만 배열을 재구성한다.
			deleted_imgs = editorImgList.filter((el) => el != temp[6]);
		}
	}
	
	console.log(deleted_imgs);
	
	return deleted_imgs;
};


function reg() {
	
	// 업로드 전에 사용자가 지워버린 이미지를 확인한다.
	let deleted_imgs = findImgDelete();
	// 지워진 이미지가 존재하는 경우 서버에서 삭제한다.
	if(deleted_imgs != null) {
		deleteEditorImg(deleted_imgs);
	}
};

function deleteEditorImg(deleted_imgs) {
	console.log('이미지 삭제');
	console.log('삭제 대상 : ', deleted_imgs);
	
	let list = [];
	
	for(img of deleted_imgs) {
		let dto = { 'key' : img, 'category' : 'editor' };
		list.push(dto);
	}
	
	let form_data = {
		'list' : list
	};
	
	fetch('/file/delete/editor/img/', {
		'method' : 'POST',
		headers : {'Content-Type' : 'application/json'},
		body : JSON.stringify(form_data),
	})
	.then(response => response.json())
	.then((data) => {
		console.log(data.msg);
	})
	.catch((error) => {
		alert("데이터를 삭제하는데 실패하였습니다.");
		console.log(error);
	});	
};

</script>
</th:block>
<th:block layout:fragment="letterpress">
<div class="letterpress">
	<div class="guideline">
		<span>관리자</span>
		<span>&gt;</span>
		<span>공지사항</span>
		<span>&gt;</span>
		<span>등록</span>
	</div>

	<table id="tbl1">
		<tbody>
			<tr>
				<th>제목</th>
				<td>
					<input type="text">
				</td>
			</tr>						
			<tr>
				<th>첨부파일</th>
				<td><input type="file"></td>
			</tr>						
			<tr>
				<td colspan="2">
					<textarea name="editor1" id="editor1"></textarea>
				</td>
			</tr>							
		</tbody>
	</table>

	<div class="button-group">
		<button class="fl-r btn-back">목록</button>
		<button class="fl-r btn-reg btn">등록</button>
	</div>

</div>
</th:block>
</html>