<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/mngr_layout}">
<head></head>
<th:block layout:fragment="script">
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', () => {
	setDefault();
	registEvent();
});

const setDefault = function() {
	attach_to_download_e();
};

const registEvent = function() {
	let btn_go_page = document.querySelector('.btn-back');
	btn_go_page.addEventListener('click', goPage);
};


function goPage() {
	location.href="/mngr/notice/list";
};

</script>
</th:block>
<th:block layout:fragment="letterpress">
<div class="letterpress">
	<div class="guideline">
		<span>관리자</span>
		<span>&gt;</span>
		<span>공지사항</span>
		<span>&gt;</span>
		<span>등록</span>
	</div>

	<table id="tbl1">
		<tbody>
			<tr>
				<th>제목</th>
				<td>
					<input type="text" name="title" th:value="${notice.title}">
					<input type="hidden" name="writer" th:value="${session.principal.id}">
				</td>
			</tr>						
			<tr>
				<th>첨부파일</th>
				<td>
					<p th:each="file : ${files}">
						<span class="fnm" th:text="${file.name}"></span>
						<input type="hidden" name="key" th:value="${file.key}">
					</p>				
				</td>
			</tr>						
			<tr>
				<td colspan="2">
					<div th:utext="${notice.content}"></div>
				</td>
			</tr>							
		</tbody>
	</table>

	<div class="button-group">
		<button class="fl-r btn-back">목록</button>
	</div>

</div>
</th:block>
</html>