body{margin: 0;}

#wrap{margin: 0 13% 0 13%; height: 100vh; border-left: solid 1px #eee; border-right: solid 1px #eee; z-index: 1;}

#head{width: 100%; height: 20%; margin: 0;}
#head .sect-1{width: 100%; height: 80%;}
#head .sect-1 .grid{float: left; width: 33.3%; height: 100%;}
#head .sect-1 .grid:nth-child(2){text-align: center;}
#head .sect-1 .grid:nth-child(2) .logo{display: block; margin: 8% 0 0 0;}
#head .sect-1 .grid:nth-child(3){text-align: right;}
#head .sect-1 .grid:nth-child(3) p{margin-top: 25%;}
#head .sect-1 .grid:nth-child(3) span{margin-right: 0.5em;}

#head .sect-2{width: 100%; height: 20%;}
#head .sect-2 .menu-bar{width: 100%; height: 100%; text-align: center; background-color: #eee;}
#head .sect-2 .menu-bar h3{display: inline-block; margin: 0.3em 2em 0.3em 2em;}

#contents{width: 96%; min-height: 68%; padding: 0 2% 0 2%;}

#footer{width: 100%; height: 12%; background-color: #eee; text-align: center;}
#footer .logo{display: inline-flex; margin: 2% 1% 0 0;}
#footer span{display: inline-flex; margin: 0;}

a{text-decoration-line: none;}

.flt-rt{float: right;}
.flt-lf{float: left;}

.mg-top10px{margin-top: 10px;}
.mg-top30px{margin-top: 30px;}
.mg-rt10px{margin-right: 10px;}

.mask{position:absolute; display:none; justify-content: center; background-color: #fff; opacity : 0.5; z-index: 100; width: 100%; min-height: 100vh;}
.loading{object-fit: none;}