/* 검색영역 */
.guideline{display: inline-block; margin: 1em 0 0.5em 0;}
.search-sect{background-color: cadetblue; padding: 1.2em 0.8em; border-radius: 3px;}
.search-sect span{color: #fff; font-weight: bold; font-size: 1.0em;}
.search-sect select{min-width: 80px; min-height: 36px; font-size: 0.9em;}
.search-sect input{min-width: 80%; min-height: 36px; font-size: 0.9em;}
.search-sect button{min-width: 70px; min-height: 32px; font-size: 0.9em;
border: none;}

/* 테이블 */
.tbl-area{margin-bottom: 1.5em;}

#tbl{width: 100%; margin: 0.5em 0 0 0; border-spacing: 0px; border-top : solid 1px black;}
#tbl tr{width: 100%; height: 45px;}
#tbl > thead tr th{background-color: #ccc;}
#tbl tbody tr td{text-align: center; border-bottom: solid 1px #eee;}

#tbl-1{width: 80%; margin: 0.5em auto 0 auto; border-spacing: 0px; border-top : solid 1px black;}
#tbl-1 tr{width: 100%; height: 55px;}
#tbl-1 > thead tr th{background-color: #001a33;}
#tbl-1 tbody tr td{border-bottom: solid 1px #eee;}
#tbl-1 tbody th {text-align: center; border-bottom: solid 1px #eee; background-color: #001a33; color: white;}
#tbl-1 tbody tr td input{height: 35px; line-height:30px; border-width:1; padding: 0; font-size: 1em; 
outline-color: #ddd; outline-style: initial;}
#tbl-1 tbody tr td .em_list{height: 36px; line-height:31px; border-width:1; padding: 0; margin:0; font-size: 1em; 
outline-color: #ddd; outline-style: initial;}

.view{cursor: pointer;}
.fnm{cursor:pointer;}

/* 페이지네이션 */
.pagination{text-align: center; margin: 0.8em;}
.pagination .pick{font-weight: bold;}
.pagination .page{cursor: pointer; margin: 0.2em;}
/* 로그인 */

.login-sect1{float: left; margin-left: 10%; width: 30%; height: 68%;}
.login-sect1 img{margin-left: 35%; margin-top: 40%; width: 120px;}
.login-sect2{float: left; width: 40%; height: 68%;}

.login-inform{float: left; width: 100%; padding: 7em 3em 1em 3em;}
.login-inform p{margin-bottom: 0;}
.login-inform span{font-size: 1.1em;}

.dividing-line{width: 95%; color: #07013f; }

.login-input-box{float: left; width: 100%; padding: 0.5em 3em 0.5em 3em;}
.login-input-box .left{float:left; width: 60%;}
.login-input-box .left input{display: inline-block; width: 100%; height: 3.6em;}
.login-input-box .left input:nth-child(1){margin-bottom: 1.5em;}
.login-input-box .right{float:left; width: 40%;}
.login-input-box .right button{margin-left: 1em; width: 120px; height: 120px; background-color: #07013f; color: white;}

.login-link-box{float: left; width: 100%; padding: 0.1em 3em 0.5em 3em;}
.login-link-box p{margin-top: 0.1em;}
.login-link-box span{margin-top: 0.1em;}


/* 조회 댓글x */

.board-area{border-top: solid 1px black; border-bottom: solid 1px black;}

.preface{width: 100%; border-bottom: solid 1px black;}
.preface > p:nth-child(1) > input{width: 95%; line-height: 29px;}
.label-b{display: inline-block; padding: 0.1em 0.3em; font-weight: bold; color: white; margin-right: 0.3em; border-radius: 0.3em; background-color: rgb(75, 11, 134);}
.letterpress{width: 100%; min-height: 200px; margin: 0 auto;}
.letterpress > textarea{display: block; width: 100%; min-height: 200px; resize: none; overflow-y: scroll; border-width: 0;}
.reference{width: 100%; border-top: solid 1px black; border-bottom: solid 1px black;}
.reference table {width: 100%; border-spacing: 0px;}
.reference table tr th{width: 120px; background-color: #ccc;}
.reference table tr td{padding-left: 0.3em; text-overflow: ellipsis;}

button[class^="btn"]{cursor:pointer}

.btn-group{width: 100%; min-height: 60px;}
.btn-list{float: right; margin: 1em 1em; padding: 0.4em 0.95em; background-color: #07013f; color: white; border: none; border-radius: 3px;}
.btn-reg{float: right; margin: 1em 1em; padding: 0.4em 0.95em;}

/* 조회 댓글o */
.comment-section{width: 100%; margin-top: 0.3em;}
.comment-section > p:nth-child(1){font-weight: bold;}
.comment-section > p:nth-child(1){display: inline-block; width: 100%; font-weight: bold; border-bottom: solid 1px black;}

.comment-registry-section{width: 100%; margin-top:1em; margin-bottom: 1.5em;}
.comment-registry-section .wr_cmmnt{width: 90%; height: 7em; resize: none;}
.comment-registry-section .btn_wr_cmmnt{width: 8%; height: 7em; float: right; background-color: rgb(85, 175, 25); color: white; border: none; border-radius: 3px;}

.comments{width: 100%;}
.comments .comment{width: 100%;  border : solid 1px #009900; margin: 10px 0 10px 0;}
.comments .comment .intr-ln{display: block; margin: 3px auto; width: 95%; min-height: 35px; cursor: pointer;}
.comments .comment .intr-ln span{display: inline-block; margin-top:  3px; margin-right: 3px;}
.comments .comment .intr{background-color: #004d00; padding-left: 3px; padding-right: 3px; margin-right: 3px; color: white; border-radius: 3px;}
.comments .comment>textarea{display: block; margin: 0 auto; width: 95%; min-height: 80px; resize: none;}
.comments .comment .reply-show-toggle{display: block; margin: 3px auto; width: 95%; cursor : pointer;}

.comments .comment-replies{display: none;}
.comments .comment-reply{position: relative; left:2%; width: 98%; margin: 10px 0 10px 0; border : solid 1px #009900;
background-color: #f0fff0;}
.comments .comment-reply .intr-ln{display: block; margin: 3px auto; width: 95%; min-height: 35px; cursor: pointer;}
.comments .comment-reply .intr-ln .reply-to{font-weight: bold;}
.comments .comment-reply .intr-ln span{display: inline-block; margin-top: 3px; margin-right: 3px;}
.comments .comment-reply .intr{background-color: #004d00; padding-left: 3px; padding-right: 3px; margin-right: 3px; color: white; border-radius: 3px;}
.comments .comment-reply>textarea{display: block; margin: 0 auto 30px auto; width: 95%; min-height: 80px; resize: none;}

.recomment-reg-form{display: none; width: 100%; background-color: #004d00;}
.recomment-reg-form .intr-ln{display: block; margin: 3px auto; width: 95%; min-height: 35px; color:white;}
.recomment-reg-form .recmmt-cont{display: block; margin: 3px auto; width: 95%;  min-height: 80px; resize: none;}
div.recomment-reg-form > div{width: 95%; margin: 3px auto; text-align: right;}
div.recomment-reg-form button{margin-bottom: 5px; margin-top: 5px; width: 100px;}
.btn-reg-recmmt{background-color: white; color:black;}
.btn-cancel-recmmt{background-color: white; color:red;}

.comment-pagination{width: 100%; margin-top:1em; margin-bottom: 1.5em; text-align: center;}
.comment-pagination .page{cursor: pointer;}


/* 회원가입 */
.sing-up-tbl{width: 100%;}
.sing-up-tbl tr{width: 100%; padding: 3px 3px; margin: 2px 2px;}
.sing-up-tbl tr td input{height: 28px;}
.sing-up-tbl tr td select{height: 28px;}
.sing-up-tbl tr td button{height: 28px;}


/*첨부파일*/
#att-file-form{display: inline-flex;}
.att_file_lst{margin-top: 3px; display: none;}
.att_file_lst span{margin-right: 3px;}

[class*="det_file_"] {background-color: #c02323; color:white; border:none; border-radius: 3px;}

.btn-sz-b{width: 20vh; height: 38px;}
.btn-sz-m{width: 10vh; height: 28px;}
.btn-sz-s{width: 5vh; height: 28px;}

.btn-area{text-align: center;}

.btn_positive{background-color: #005ac0; color: white; border: none; border-radius: 3px;} 
.btn_cancel{background-color: #c02323; color: white; border: none; border-radius: 3px;}
.btn-modif{background-color: white; color: #001a33; border: solid 1px; border-radius: 3px;}
.pwd_instr{color:#555;}

