<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- meta -->
<meta charset="UTF-8">

<!-- title -->
<title>게시판</title>

<!-- css -->
<link href="/css/site/common.css" rel="stylesheet" type="text/css">
<link href="/css/site/site.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="#">

<!-- script -->
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/attachment-file-proc.js"></script>

</head>
<th:block layout:fragment="script"></th:block>
<body>
	<div class="mask">
		<img class="loading" src="/img/site/loading.gif">
	</div>
	<div id="wrap">
		<th:block th:replace="fragment/site_header :: header"></th:block>
		<th:block layout:fragment="contents"></th:block>
		<th:block th:replace="fragment/site_footer :: footer"></th:block>		
	</div>
</body>
</html>